  <!--コメント一覧部分テンプレート-->
  <p><strong>コメント件数：</strong><%= post.post_comments.count %></p>
    <table>
      <tbody>
        <% post.post_comments.each do |post_comment| %>
        <tr>
          <td><%= image_tag post_comment.user.get_profile_image, class: "icon_small" %></td>
          <td class="pr-2"><%= post_comment.user.name %></td>
          <td><%= post_comment.comment %></td>
          <td>
            <% if post_comment.user == current_user %>
              <%= link_to "削除", post_post_comment_path(post_comment.post,post_comment), remote: true, method: :delete, data: { confirm: '本当に削除しますか？' }, class: "btn_red btn_small" %>
            <% end %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
