    <div class="container mt-4 mb-4">
      <div class="card mx-auto col-lg-7 shadow p-3 bg-white rounded">
        <h2 class="common_title">プロフィール編集</h2>
          <div class="text-danger">
            <% if @user.errors.any? %>
              <%= @user.errors.count %>件のエラーが発生しました
              <ul>
                <% @user.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
              </ul>
            <% end %>
          </div>
            <%= form_with model: @user, local: true, method: :patch do |f| %>
              <div class="mt-3 ml-3">
                <div class="row mt-3">
                  <div class="col-md-4">
                    <%= f.label "プロフィール画像:" %>
                  </div>
                  <div class="col-4">
                    <%= f.file_field :profile_image, accept: "image/*" %>
                  </div>
                </div>
                <div class="row mt-3">
                  <div class="col-md-4">
                    <%= f.label "ユーザ名:" %>
                  </div>
                  <div class="col-4">
                    <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
                  </div>
                </div>
                <div class="row mt-3">
                  <div class="col-md-4">
                    <%= f.label "メールアドレス:" %>
                  </div>
                  <div class="col-4">
                    <%= f.email_field :email, autocomplete: "email" %>
                  </div>
                </div>
                <div class="row mt-3">
                  <div class="col-md-4">
                    <%= f.label "自己紹介:" %>
                  </div>
                  <div class="col-4">
                    <%= f.text_area :introduction %>
                  </div>
                </div>
                <div class="row mt-3">
                  <div class="col-md-4">
                    <%= f.label "パスワード:" %> <i>(変更しない場合は空白にして下さい。)</i>
                  </div>
                  <div class="col-4">
                    <%= f.password_field :password, autocomplete: "new-password" %>
                    <% if @minimum_password_length %>
                      <br />
                      <em><%= @minimum_password_length %>文字以上</em>
                    <% end %>
                  </div>
                </div>
                <div class="row mt-2">
                  <div class="col-md-4">
                    <%= f.label "確認パスワード:" %>
                  </div>
                  <div class="col-4">
                    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
                  </div>
                </div>
                <div class="row mt-2">
                  <div class="col-md-4">
                    <%= f.label "現在のパスワード:" %> <i>(現在のパスワードが必要です。)</i>
                  </div>
                  <div class="col-4">
                    <%= f.password_field :current_password, autocomplete: "current-password" %>
                  </div>
                </div>
                <div class="text-center mt-3">
                  <%= f.submit "更新", class: "btn_size btn_blue" %>
                </div>
                <div class="text-right">
                  <%= link_to "アカウント削除", unsubscribe_path, class: "btn_red btn_size" %>
                </div>
              </div>
            <% end %>
      </div>
    </div>
