  <div class="container mt-4 mb-4">
    <%= link_to user_path(@user.id) do %>
      <i class="fas fa-arrow-circle-left fa-2x pb-3" style="opacity: 70%;"></i>
    <% end %>
    <div class="card col-md-8 mx-auto Small shadow" style="font-size: 20px;">
      <p class="mt-2"><%= @user.name %>さんへDM</p>
        <div class="card" style="background-color: #b0e0e6;">
          <div class="inner message" style="margin: 10px;">
            <% @chats.each do |chat| %>
              <div class="row">
                <% if chat.user_id == current_user.id %>
                  <p class="text-right ml-auto mr-3 bg-success p-1 rounded-lg"><%= chat.message %></p>
                <% else %>
                  <p class="text-left ml-3 bg-success p-1 rounded-lg"><%= chat.message %></p>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
        <div class="mt-2 text-center">
          <%= form_with model: @chat, data:{remote: true} do |f| %>
            <%= f.text_field :message, class: "rounded-pill" ,style: "width: 70%;" %>
            <%= f.hidden_field :room_id %>
            <%= f.submit "送信", class: "btn_small btn_blue mb-2" %>
          <% end %>
        </div>
    </div>
  </div>
