  <div class="home_backgraund">
    <div class="top_box pt-md-5">
      <h1>Welcome to Temaya!</h1>
        <p class="text-center p-0 pt-2" style="font-size: 30px;"><strong>~アイディア無限大~</strong></p>
    </div>
    <div class="d-sm-flex flex-sm-wrap justify-content-sm-center text-center">
        <div class="mt-sm-4 top_btn">
          <%= link_to "ログイン 〉", new_user_session_path, class: "btn_log_in" %>
        </div>
        <div class="mt-sm-4 top_btn ml-sm-5">
          <%= link_to "新規登録 〉", new_user_registration_path, class: "btn_sign_up" %>
        </div>
        <div class="mt-sm-4 top_btn ml-sm-5">
          <%= link_to 'ゲストログイン（閲覧用）', users_guest_sign_in_path, class: "btn_guest", method: :post %>
        </div>
      </div>
  </div>

  <div class="home_about">
    <div class="container mt-4">
      <h3><span class="about_title">About this temaya</span></h3>
      <p class="pt-2">こちらはDIYのSNS共有サイトです。</p>
      <p><strong>アイディアが溢れるDIY情報をシェアしよう！</strong></p>
      <transition>
      <div class="about_main d-md-flex justify-content-md-between mx-auto mt-4 mb-4">
        <faedInComponent>
          <div class="about_box col-md-3">
            <div class="text-center">
              <%= image_tag "about_create.png", size: "200x200" %>
            </div>
            <h5><span class="about_text_title">DIY情報投稿機能</span></h5>
            <p class="pt-2">DIY情報をシェアすることでリアルな評価を体験出来ます。</p>
          </div>
        </faedInComponent>
        <faedInComponent>
        <div class="about_box col-md-3">
          <div class="text-center">
            <%= image_tag "about_show.png", size: "200x200" %>
          </div>
          <h5><span class="about_text_title">DIY詳細ページ</span></h5>
          <p class="pt-2">気になった投稿について深く知ることが出来ます。</p>
        </div>
        </faedInComponent>
        <faedInComponent>
        <div class="about_box col-md-3">
          <div class="text-center">
            <%= image_tag "about_search.png", size: "200x200" %>
          </div>
          <h5><span class="about_text_title">検索機能</span></h5>
          <p class="pt-2">知りたい情報が早く見つかります。</p>
        </div>
        </faedInComponent>
      </div>
      </transition>
    </div>
  </div>

