  <div class="home_backgraund">
    <div class="top_box pt-md-5">
      <h1 class="mx-auto col-md-6 top_text text-center">Welcome to Temaya!</h1>
      <p class="text-center p-0" style="font-size: 30px;">~アイディア無限大~</p>
    </div>
    <div class="d-sm-flex flex-sm-wrap justify-content-sm-center text-center">
      <div class="mt-md-5 top_btn">
        <%= link_to "ログイン 〉", new_user_session_path, class: "btn_log_in" %>
      </div>
      <div class="mt-md-5 top_btn ml-sm-5">
        <%= link_to "新規登録 〉", new_user_registration_path, class: "btn_sign_up" %>
      </div>
      <div class="mt-md-5 top_btn ml-sm-5">
      　 <%= link_to 'ゲストログイン（閲覧用）', users_guest_sign_in_path, class: "btn_guest", method: :post %>
      </div>
    </div>
  </div>

  <div class="home_about">
    <div class="container mt-4">
      <h3 style="font-size: 30px;">About this temaya</h3>
      <p>こちらはDIY情報のSNS共有サイトです。</p>
      <p>アイディアが溢れるDIY情報をシェアしよう！</p>
        <div class="about_main col-md-8 mx-auto mt-4 mb-4">
          <div class="row about_box">
            <div class="about_image mr-2">
              <%= image_tag "about_create.png", size: "200x200" %>
            </div>
            <div class="about_text">
              <h4>DIY情報投稿機能</h4>
              <p>DIY情報をシェアすることでリアルな評価を体験出来ます。</p>
            </div>
          </div>
          <div class="row about_box">
            <div class="about_image mr-2">
              <%= image_tag "about_show.png", size: "200x200", class: "about_image" %>
            </div>
            <div class="">
              <h4>DIY詳細ページ</h4>
              <p>気になった投稿について深く知ることが出来ます。</p>
            </div>
          </div>
          <div class="row about_box">
            <div class="about_image mr-2">
              <%= image_tag "about_search.png", size: "200x200" %>
            </div>
            <div class="">
              <h4>検索機能</h4>
              <p>知りたい情報に早く出会うことができます。</p>
            </div>
          </div>
        </div>
    </div>
  </div>

