    <div class="container mt-4">
      <div class="card mx-auto col-6 shadow p-3 mb-5 bg-white rounded">
        <h2>投稿編集</h2>
        <%= render "posts/error_message", post: @post %>
          <%= form_with model: @post, local: true, method: :patch do |f| %>
            <div class="ml-3 mt-3">
              <div class="row mt-2">
                <div class="col-3">
                  <%= f.label "画像" %>
                </div>
                <div class="col-4">
                  <%= f.file_field :photo, accept: "image/*" %>
                </div>
              </div>
              <div class="row mt-2">
                <div class="col-3">
                  <%= f.label "タイトル" %>
                </div>
                <div class="col-4">
                  <%= f.text_field :title %>
                </div>
              </div>
              <div class="row mt-2">
                <div class="col-3">
                  <%= f.label "製作期間" %>
                </div>
                <div class="col-4">
                  <%= f.text_field :production_period %>
                </div>
              </div>
              <div class="row mt-2">
                <div class="col-3">
                  <%= f.label "製作費用" %>
                </div>
                <div class="col-4">
                  <%= f.text_field :cost %>
                </div>
              </div>
              <div class="row mt-2 ml-1" id="star">
                  <%= f.label :difficulty,'評価 ', class: 'col-md-3 col-form-label' %>
                  <%= f.hidden_field :difficulty, id: :review_star %>
              </div>

              <!-- 評価javascript -->
              <%= render "posts/star" %>

              <div class="row mt-2">
                <div class="col-3">
                  <%= f.label "説明" %>
                </div>
                <div class="col-4">
                  <%= f.text_area :explanation %>
                </div>
              </div>
              <div class="text-center mt-2">
                  <%= f.submit  "更新", class: "btn_size btn_blue" %>
              </div>
            </div>
          <% end %>
      </div>
    </div>