  <div class="card mx-auto col-7 shadow p-3 mb-5 bg-white rounded">
    <div class="col-6 mt-3 row">
      <h2>新規投稿</h2>
        <%= form_with modules: @post, method: :post, local:true do |f| %>
        <%= f.label "画像" %>
        <%= f.file_field :photo %><br>
        <%= f.label "タイトル" %>
        <%= f.text_field :title %><br>
        <%= f.label "製作期間" %>
        <%= f.text_field :production_period %><br>
        <%= f.label "製作費用" %>
        <%= f.text_field :cost %><br>
        <%= f.label "難易度" %>
        <%#= f. %><br>
        <%= f.label "説明" %>
        <%= f.text_area :explanation %><br>
        <%= f.submit "投稿", class: "btn btn-sm btn-info" %>
        <% end %>
    </div>
  </div>