    <div class="row">
      <div class="col-5">
        <%= image_tag @post.photo, size: "500x400" %>

        <div class="float-right">
          <% if @post.user_id == current_user.id %>
            <%= link_to "編集", edit_post_path(@post.id), class: "btn btn-sm btn-success mt-3 ml-auto" %>
            <%= link_to "削除", post_path(@post.id), method: :delete, data: { confirm: '本当に削除しますか？' }, class: "btn btn-sm btn-danger mt-3 ml-auto"%>
            <% end %>
        </div>
      </div>

      <div class="col-6 ml-5">
        <%= image_tag @post.user.get_profile_image, size: "50x50" %>
        <%= @post.user.name %><br>

        <!--非同期通信いいね機能-->
        <div id="like_btn_<%= @post.id %>">
          <%= render "likes/like", post: @post %><br>
        </div>
        <!--フォロー・フォロワー-->
        <%= render "relationships/relationship", user: @post.user, following_users: @following_users, follower_users: @follower_users %>
        <%= @post.title %><br>
        <%= @post.production_period %><br>
        <%= @post.cost %><br>
        難易度:<br>
        <%= @post.explanation %>

        <!--コメント一覧-->
        <div id="post_comment_index">
          <%= render "post_comments/post_comment", post: @post, post_comment: @post_comment %>
        </div>

        <!--コメントフォーム-->
        <div id="post_comment_form">
          <%= render "post_comments/comment_form", post: @post, post_comment: @post_comment %>
        </div>

      </div>
    </div>
