<!DOCTYPE html>
<html>
  <head>
    <title>Temaya</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!--header-->
    <header class="shadow-sm sticky-top">
      <%= render "layouts/header" %>
    </header>

    <!--main-->
    <!--フラッシュメッセージ-->
      <!--成功した時-->
      <% if flash[:notice] %>
        <div class="alert alert-info m-0">
          <%= flash[:notice] %>
        </div>
      <% end %>
      <!--失敗した時-->
      <% if flash[:alert] %>
        <div class="alert alert-danger">
          <%= flash[:alert] %>
        </div>
      <% end %>

    <%= yield %>

    <!--footer-->
    <footer class="fixed-bottom">
      <%= render "layouts/footer" %>
    </footer>
  </body>
</html>
