<!DOCTYPE html>
<html>
  <head>
    <%= favicon_link_tag("favicon.ico") %>
    <title>Temaya</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/4b4cd959ca.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <div class="wrap">
      <!--header-->
      <header class="shadow-sm header sticky-top">
        <%= render "layouts/header" %>
      </header>

      <!--main-->
      <main class="mx-auto" id="app1">
        <!--フラッシュメッセージ-->
        <%= render "layouts/flash_error" %>

        <%= yield %>

        <!--topへ戻るボタン-->
        <%= render "layouts/pagetop" %>
        <div id="hello">
           <p>{{ message }}</p>
        </div>

      </main>

　　　<!--footer-->
      <footer>
        <%= render "layouts/footer" %>
      </footer>
    </div>
  </body>
</html>
