<!DOCTYPE html>
<html>
  <head>
    <title>Temaya</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <header class="shadow-sm">
      <%= render "layouts/header" %>
    </header>
    <!--検索フォーム-->
    <% if user_signed_in? %>
      <div class="search_form">
        <%= form_with url: search_path, local: true, method: :get do |f| %>
          <%= f.text_field :word %>
          <%= f.select :range, options_for_select([["ユーザー名",'User'],["キーワード",'Post']]) %>
          <%= f.select :search, options_for_select([['完全一致','perfect_match'],['前方一致','forward_match'],['後方一致','backword_match'],['部分一致','partial_match']]) %>
          <%= f.submit "検索", class: "btn btn-sm btn-info" %>
        <% end %>
      </div>
    <% end %>


    <div class="container mt-4">
    <%= yield %>
    </div>

    <footer class="h-25 bg-light text-center">
      <%= render "layouts/footer" %>
    </footer>

  </body>
</html>
